@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');

:root{
    --primary-color: #12c2b9;
    --secondary: #dbfffe;
    --black: #141414;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

*{
    font-family: 'Poppins', sans-serif ;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}


section{
    padding: 5rem 7%;
}

.heading{
    position: relative;
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-align: center;
    margin-bottom: 3rem;

}


.btn{
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: max-content;
    border: .1rem solid var(--primary-color);
    background: var(--secondary);
    padding: 1.2rem 4.5rem;
    overflow: hidden;
    z-index: 1;
    border-radius: .5rem;

}

.btn:hover {
    background: var(--primary-color); 
    color: var(--white);
}


/* --header section */

.header{
    position: fixed;
    top: 0;left: 0; right: 0;
    z-index: 1000;
    background: #040203;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
}

.header .logo {
    position: relative;
    width: 3.5rem; 
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--primary-color);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--white);
    margin: 0 1rem;
    padding-block: 1rem;   
}

.header .navbar a:hover{
    color: var(--primary-color);
}

.header .navbar .hover-underline{
    position: relative;
    max-width: max-content;

}

.header .navbar .hover-underline::after{
    content: '';
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;
    height: .5rem;
    border-block: .1rem solid var(--primary-color);
    transform: scaleX(0.2);
    opacity: 0;
    transition: 500ms ease;
}

.header .navbar .hover-underline:is(:hover, :focus-visible)::after{
    transform: scaleX(1);
    opacity: 1;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    color: var(--white);
    cursor: pointer;
}

.header .icons div:hover{
    color: var(--primary-color);
}

#menu-btn{
    display: none;
}

.header .login-form{
    position: absolute;
    top: 115%; right: -105%;
    background: var(--white);
    box-shadow: .5rem;
    width: 25rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}


.header .login-form.active h3{
    font-size: 2.2rem;
    color: var(--black);
    text-align: center;
    margin-bottom: .7rem;
}


.header .login-form .box{
    font-size: 1.2rem;
    margin: .7rem 0;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .login-form .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin:  .7rem 0;
}

.header .login-form .remember label{
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
}




.header .register-form{
    position: absolute;
    top: 115%; right: -105%;
    background: var(--white);
    box-shadow: .5rem;
    width: 25rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

.header .register-form.active{
    right: 2rem;
    transition: .4s linear;
}


.header .register-form.active h3{
    font-size: 2.2rem;
    color: var(--black);
    text-align: center;
    margin-bottom: .7rem;
}


.header .register-form .box{
    font-size: 1.2rem;
    margin: .7rem 0;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .register-form .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin:  .7rem 0;
}

.header .register-form .remember label{
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: var(--black); 
    margin: 10px 0; 
}

.header .register p{
    font-size: 1.2rem;
    color: var(--black);
    margin: 0.7rem;
    padding-top: 10px;
    right: auto;
}

.header .register .btn{
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    color: rgb(200, 42, 42);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    width: max-content;
    border: .1rem solid rgb(180, 86, 86);
    background: rgb(196, 113, 113);
    padding: 1.2rem 4.5rem;
    overflow: hidden;
    z-index: 1;
    border-radius: .5rem;
}
.header .register .btn:hover {
    background:rgb(200, 42, 42); 
    color: var(--white);
}


/* inicio section */ 

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/fotoinsti.png);
    background-size: cover;
    background-position: center;
    color: #fff; 
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 4rem;
    color: var(--white);
    line-height: 1.2;
}

.home .content p{
    font-size: 1.5rem;
    line-height: 2;
    color: var(--white);
    padding: 1rem 0;
}


/* about  inicio*/

.about{
    background: #f5f5f5;
}

.about .container {
    display: flex;
    flex-wrap: wrap;

}

.about .container .about-images {
    position: relative;
    display: flex;
    flex: 1 1 40rem;
}

.about .image {
    position: relative;
    width: 80%;
}
.about .image .img1{
    width: 150%;
    height: 90%;
    border: 3px solid rgba(0, 0, 0, 0.2);
}
.about  .image:hover  .img1{
    transform: scale(1.1);
}

.about .image .img2 {
    position: absolute;
    bottom:-10rem;
    right: 4rem;
    width: 15rem;
    top: 20rem;
    border: 3px solid rgba(0, 0, 0, 0.2);

}
.about  .image:hover  .img2{
    transform: scale(1.1);
}

.about .container .about-content {
    flex: 1 1 50rem;
    padding-left: 6rem;
    padding-top: 8rem;
}

.about .container .about-content h3{
    font-size: 2rem;
    color: var(--primary-color);
}

.about .container .about-content p{
    font-size: 1.6rem;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
}




/*  inicio carreras*/
.carreras .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 2rem;
}
.carreras .box-container .box {
    border: 3px solid rgba(0, 0, 0, 0.2); /* Borde de 1 píxel con opacidad del 20% */
}

.carreras .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.carreras .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.carreras .box-container .box:hover .image img{
    transform: scale(1.1);
}

.carreras .box-container .box .content{
    padding: 2rem;
    position: relative;
}
.carreras .box-container .box .content h3{
    font-size: 1.6rem;
    color: #444;
}
.carreras .box-container .box .content .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid var(--primary-color);
}

.carreras .box-container .box  .content span{
    font-size: 1.3rem;
    color: #444;
}

.carreras .box-container .box .content span i{
    color: var(--black);
    padding-right: .5rem;
}
.carreras .box-container .box .content .btn .text-text1{
    width: auto; 
    padding: 5px 10px; 
    margin-left: auto; /* Mueve el botón a la derecha del todo */
}

/*  fin carreras*/


/* ?  inicio maps*/

.map{
    background: #f5f5f5;
}



.map .heading{
    margin-bottom: 2rem;
    padding: 0;
}
.map .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid rgba(0, 0, 0, 0.2);

}

.map .container iframe{
width: 100%;
height: 100%;
}

/* ?  fin maps*/



/* ?  inicio footer */
.footer{
    background: #040203;
    text-align: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size:2.2rem ;
    color: var(--white);
    padding: 1rem 0;
}
.footer .box-container .box p{
    font-size:1.5rem ;
    color: var(--white);
    line-height: 2;
    padding: 1rem 0;
}

.footer .box-container .box .share{
    margin-top: 1rem;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    border: .1rem solid var(--primary-color);
    color: var(--primary-color);
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--primary-color);
    color: var(--white);
}

.footer .credit{
    font-size: 2rem;
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;
    color: var(--white);
    border-top: .1rem solid var(--primary-color);

}

.footer .credit h3{
    
    font-size:2rem ;
    color: var(--white);
    line-height: 2;
    padding: 2rem 0;
}

/* ?  fin footer*/



/* ?  inicio responsive */

@media (max-width:991px) {

    html{
        font-size: 55%;

    }
    .header{
        padding: 2rem 4rem;

    }

    section{
        padding: 3rem 2rem;

    }
    
}


@media(max-width:768px){

    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        display: none;
    }
    .active-nav{
        position:absolute;
        top: 20px;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius:  .5rem;
        background: var(--white);
        display: block !important;
    }

    .about .image .img2 {
        position: absolute;
        bottom:-10rem;
        right: 4rem;
        width: 12rem;
        top: 10rem !important;;
        border: 3px solid rgba(0, 0, 0, 0.2);
    
    }

    
.about .container .about-content h3{
    font-size: 1.6rem;

}


.about .container .about-content p{
    font-size: 1.2rem;

}
}

.header .active-nav{
    padding-top: 1rem;
     position:absolute;
     right: 2rem;
     top: 8rem;
     width: 27rem;
     height: 12rem;
     box-shadow: var(--box-shadow);
     border-radius:  .5rem;
     background: rgb(245,245,245);
     display: flex !important;
     flex-direction: column;

     align-items: center;
     transition: ease all .3s;
     transform: translateX(0) !important;
}
.active-nav a{
    color: var(--black) !important;
}